<div class="container-fluid">
<h3><a class="btn btn-outline-success" href="/"><i class="fa fa-plus"></i> Create News</a> </h3>
<table class="table">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Title</th>
            <th>Image</th>
            <th>Content</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% datas.forEach((data) => { %>
            <tr>
                <td><%= data.catname %></td>
                <td><%= data.title %></td>
                <td><img class="responsive-img" src="uploads/<%= data.image %>" width="150px" height="100px"></td>
                <td><%= data.content %></td>
                <td>
                    <a href="/update/<%= data._id %>" class="btn btn-outline-primary"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                </td>
                <td>
                    <a href="/delete/<%= data._id %>" class="btn btn-outline-danger" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                </td>
            </tr>
        <% }); %>        
    </tbody>
</table>
</div>
