<%- include ('header.ejs') %>
<div class="container-fluid card mt-3">
<h3><a class="btn btn-success" href="/home/getnews"><i class="fa fa-plus"></i> Create News</a> </h3>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Category Name</th>
            <th>Title</th>
            <th>Image</th>
            <th>Content</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% news.forEach((data) => { %>
            <tr>
                <td><%= data.catname %></td>
                <td><%= data.title.slice(0,25) %></td>
                <td><img class="responsive-img" src="/<%= data.image %>" width="150px" height="100px"></td>
                <td><%= data.content.slice(0,100) %></td>
                <td>
                    <a href="/home/readme/<%= data._id %>" class="btn btn-success">Readmore</a>
                </td>
                <td>
                    <a href="/home/news/update/<%= data._id %>" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a href="/home/news/delete/<%= data._id %>" class="btn btn-danger" onclick="return confirm('Are you sure to delete this record ?');">Delete</a>
                </td>
            </tr>
        <% }); %>        
    </tbody>
</table>
</div>
